# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.Python

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment variables
.env

# Data (large raw files)
data/raw/

# Sensitive files
src/db_connection.py